<!-- <p>{{info?.Response?.data.inventoryItem.itemName}}</p>
<img src=http://www.bungie.net/`${info.Response.data.inventoryItem}`  alt="" style="width: 300px; border: 2px solid;">
<img src="http://www.bungie.net/{{info.Response.data.inventoryItem.icon}}" alt={{info.Response.data.inventoryItem.itemName}}>
<p>{{info?.Response?.data.inventoryItem.itemDescription}}</p>
<p></p>
<p>{{info?.Response?.data.inventoryItem.tierTypeName}} - {{info?.Response?.data.inventoryItem.itemTypeName}} </p>
<p>{{info?.Response?.data.inventoryItem}}</p> -->

<!-- <p>{{info.Response.jsonWorldComponentContentPaths.en.DestinyAchievementDefinition}}</p> -->
<!-- <p>{{info.Response.jsonWorldComponentContentPaths.en.DestinyAchievementDefinition}}</p> -->

<p>hello</p>
<div *ngFor="let item of key; let i = index;">
    <p>{{item.blacklisted}}</p>
    <!-- <p>"item" : {{item}} "value" : {{value}}</p> -->
</div>
